<div id="filters">
  <h3>Filtry</h3>
  <p>Szukam : {{searchValue}}</p>
  <input type="text" name="searchValue" [(ngModel)]="searchValue" placeholder="Szukaj">
  <p>Rok:</p>
  <ul *ngIf="galleries">
    <li (click)="setYear(0)">Wszystkie lata</li>
    <li *ngFor="let item of galleries | getYears | removeDuplicates" (click)="setYear(item)">{{item}}</li>
  </ul>
</div>
<div class="grid" *ngIf="galleries">
  <div class="tile" *ngFor="let item of galleries | searchGalleries : searchValue : searchYear; trackBy: trackByItemId">
    <h2>{{ item.title }}</h2>
    <img [src]="item.thumbUrl" class="image" />
    <p>{{ item.description }}</p>
    <p><b>Kiedy:</b> {{ item.dateCreated | polishDate | uppercase }}</p>
  </div>
</div>